.THIS .changeMe {
    display:none;
}

.THIS.changeMeStatus {
    display:none;
}
.THIS.mechange {
    background-color:yellow;
    width:200px;
}

.THIS .hideme {
    display:none !important;
}

.THIS .list {
    margin-top:6%;
    height:26px !important;
}

.THIS.hiding {
    display:none;
}

.THIS.colorchange {
    display:none;
}

.THIS .list1 {
    
    height:26px !important;
}

.THIS .padstyle {
    padding:0 !important;    
}

.THIS .uiInput--select{
    
   height: 36px !important;
}

.THIS .hovering:hover{
       background-color: gainsboro;
}

.THIS .sizingremove {
        width: 111px;
}

.THIS .sizingnext {
    width: 120px;
}

.THIS .editmodal {
	margin-top: 75px;
}


.THIS.borderandback{
    background: transparent !important;
    border: transparent !important;
}

.THIS .borderandback{
    background: transparent !important;
    border: transparent !important;
}

.THIS .tglCls{
    
    size: 12px;
}