<apex:page controller="formforce.ConfigurationCtrl" tabStyle="Lead">
<apex:form >
<apex:pageBlock >
    <apex:pageMessages />
    <apex:variable var="sr" value="{!1}" />
    <apex:pageBlockButtons >
        <apex:commandButton value="Save" action="{!save}"/>
        <apex:commandButton value="Cancel" action="{!cancel}"/>
    </apex:pageBlockButtons>
    <apex:pageBlockSection title="Default Search Rules" columns="1">
        <apex:pageBlockTable value="{!defaultFilters}" var="filt">
            <apex:column headerValue="Object Name">{!filt.Name}</apex:column>
            <apex:column headerValue="Use Default">
                <apex:inputField value="{!filt.formforce__Use_Default_Filter__c}"/>
            </apex:column>
            <apex:column headerValue="Search Pattern">
                <apex:outputLabel rendered="{!filt.Name = 'Contact'}">
                    (FirstName LIKE AND LastName LIKE) OR (Phone/MobilePhone/HomePhone exact Match ) OR Email =
                </apex:outputLabel>
                <apex:outputLabel rendered="{!filt.Name = 'Lead'}">
                        (FirstName StartsWith AND LastName StartsWith ) OR Phone = OR Email = OR MobilePhone = OR Company Contains  
                </apex:outputLabel> 
                <apex:outputLabel rendered="{!filt.Name = 'Account'}">
                    Name LIKE OR Billing Address OR Shipping Address OR Shipping Address
                </apex:outputLabel>     
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlockSection>
    <apex:pageBlockSection title="Custom Lead Search Rules" columns="1">
        <apex:variable value="{!1}" var="rowNumber" />
        <apex:pageBlockTable value="{!leadConfigurations}" var="conf">
<!--            <apex:column headerValue=""> -->
<!--            </apex:column> -->
            <apex:column >
                <apex:outputText value="{!rowNumber}"/>
                <apex:variable var="rowNumber" value="{!rowNumber + 1}" />
            </apex:column>
            <apex:column headerValue="Field">
                <apex:selectList value="{!conf.Name}" size="1">
                    <apex:selectOption itemValue="" itemLabel="-None-"/>
                    <apex:selectOptions value="{!leadFields}"/>
                </apex:selectList>
            </apex:column>   
            <apex:column headerValue="Operator ">
                <apex:selectList value="{!conf.formforce__Match_Type__c}" size="1">
                    <apex:selectOption itemValue="equals" itemLabel="Equals"/>
                    <apex:selectOption itemValue="contains" itemLabel="Contains"/>
                    <apex:selectOption itemValue="Start With" itemLabel="Starts with"/>
                    <apex:selectOption itemValue="End with" itemLabel="Ends with"/>
                </apex:selectList>          
            </apex:column>
            
        </apex:pageBlockTable>
    </apex:pageBlockSection>
    
    <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
            <apex:outputText value="Filter Logic" />
            <apex:inputField id="leadFilterLogic" value="{!leadFilterLogic.formforce__Filter_Logic__c}" label="Filter Logic" />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputText value="Please build Filters using parentheses - Example: ((1 AND 2) OR 3)" />
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    
    <apex:pageBlockSection title="Custom Account Search Rules" columns="1">
        <apex:variable value="{!1}" var="rowNumber" />
        <apex:pageBlockTable value="{!accountConfigurations}" var="conf">
            <apex:column >
                <apex:outputText value="{!rowNumber}"/>
                <apex:variable var="rowNumber" value="{!rowNumber + 1}" />
            </apex:column>
            <apex:column headerValue="Field">
                <apex:selectList value="{!conf.Name}" size="1">
                    <apex:selectOption itemValue="" itemLabel="-None-"/>
                    <apex:selectOptions value="{!accountFields}"/>
                </apex:selectList>
            </apex:column>   
            <apex:column headerValue="Operator ">
                <apex:selectList value="{!conf.formforce__Match_Type__c}" size="1">
                    <apex:selectOption itemValue="equals" itemLabel="Equals"/>
                    <apex:selectOption itemValue="contains" itemLabel="Contains"/>
                    <apex:selectOption itemValue="Start With" itemLabel="Starts with"/>
                    <apex:selectOption itemValue="End with" itemLabel="Ends with"/>
                </apex:selectList>          
            </apex:column>
           
        </apex:pageBlockTable>
    </apex:pageBlockSection>
    
    <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
            <apex:outputText value="Filter Logic" />
            <apex:inputField id="accountFilterLogic" value="{!accountFilterLogic.formforce__Filter_Logic__c}" label="Filter Logic" />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputText value="Please build Filters using parentheses - Example: ((1 AND 2) OR 3)" />
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    
    <apex:pageBlockSection title="Custom Contact Search Rules" columns="1">
        <apex:variable value="{!1}" var="rowNumber" />
        <apex:pageBlockTable value="{!contactConfigurations}" var="conf">
<!--            <apex:column headerValue=""> -->
<!--            </apex:column> -->
            <apex:column >
                <apex:outputText value="{!rowNumber}"/>
                <apex:variable var="rowNumber" value="{!rowNumber + 1}" />
            </apex:column>
            <apex:column headerValue="Field">
                <apex:selectList value="{!conf.Name}" size="1">
                    <apex:selectOption itemValue="" itemLabel="-None-"/>
                    <apex:selectOptions value="{!contactFields}"/>
                </apex:selectList>
            </apex:column>   
            <apex:column headerValue="Operator ">
                <apex:selectList value="{!conf.formforce__Match_Type__c}" size="1">
                    <apex:selectOption itemValue="equals" itemLabel="Equals"/>
                    <apex:selectOption itemValue="contains" itemLabel="Contains"/>
                    <apex:selectOption itemValue="Start With" itemLabel="Starts with"/>
                    <apex:selectOption itemValue="End with" itemLabel="Ends with"/>
                </apex:selectList>          
            </apex:column>
            
        </apex:pageBlockTable>
    </apex:pageBlockSection>     
        
    <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
            <apex:outputText value="Filter Logic" />
            <apex:inputField id="contactFilterLogic" value="{!contactFilterLogic.formforce__Filter_Logic__c}" label="Filter Logic"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputText value="Please build Filters using parentheses - Example: ((1 AND 2) OR 3)" />
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>   
</apex:pageBlock>
</apex:form>
</apex:page>