<apex:page controller="formforce.DuplicateLeadReportingCtrl">
<head>
   <style type="text/css">
    .apexp .bPageBlock.apexDefaultPageBlock .pbBody{
        margin : 12px 12px 12px 12px;
    }
 </style>
 
 <script type="text/javascript"> 
    function getRemoteJobPending() {

        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.DuplicateLeadReportingCtrl.isJobPending}',
            function(result, event){
                if (event.status) {
                    // Get DOM IDs for HTML and Visualforce elements like this
                    if(result==true){
                    	setTimeout('getRemoteJobPending()', 5000);
                    }else{
                    	window.location = '/apex/DuplicateLeadReporting';
                    }
                    
                } else if (event.type === 'exception') {
                    //document.getElementById("responseErrors").innerHTML = event.message + "<br/>\n<pre>" + event.where + "</pre>";
                } else {
                    //document.getElementById("responseErrors").innerHTML = event.message;
                }
            }, 
            {escape: true}
        );
    }
    
    if({!jobPending}==true){
    	getRemoteJobPending();
    }
 </script>

</head>
<apex:form >
<c:WaitingComponent />
<apex:actionFunction name="refreshReport" action="{!refreshReport}" rerender="pgBlock" onComplete="lockScreen(false);">
    <apex:param name="displayReportFor" assignTo="{!displayReportFor}" value="" id="displayReportFor"/>
</apex:actionFunction>
<apex:pageMessages escape="false"/> 
<apex:pageBlock title="Duplicate Records" id="pgBlock">
    <apex:variable value="{!0}" var="index"/>
    <apex:pageBlockButtons >
        <apex:commandButton value="Ignore Selected Duplicates" action="{!updateDuplicateIgnored}" style="cursor: pointer;font-size: 12px;font-weight: bold;padding: 4px;margin-top: 0px;vertical-align: top;"> </apex:commandButton>
        <apex:commandButton disabled="{!jobPending}" value="Run Cleaner" action="{!runBatch}" style="cursor: pointer;font-size: 12px;font-weight: bold;padding: 4px;margin-top: 0px;vertical-align: top;"> </apex:commandButton>
        <apex:outputLink value="{!URLFOR('/apex/DuplicateLeadReporting')}" type="image/png">
            <apex:image value="{!URLFOR($Resource.formforce__Refresh)}" alt="Refresh" title="refresh" height="24" width="24"/>
        </apex:outputLink>        
        <apex:outputPanel layout="block" style="float:right;">
            <apex:outputLabel >Display Duplicates For: &nbsp; </apex:outputLabel>
            <apex:selectList onchange="lockScreen(true);refreshReport(this.value)" size="1" multiselect="false" value="{!displayReportFor}">
                <apex:selectOption itemLabel="Lead" itemValue="Lead"/>
                <apex:selectOption itemLabel="Account" itemValue="Account"/>
                <apex:selectOption itemLabel="Contact" itemValue="Contact"/>
            </apex:selectList>     
         </apex:outputPanel>   
    </apex:pageBlockButtons>

    <apex:pageBlockTable value="{!duplicateLeads}" var="lead" rendered="{!AND(NOT(ISBLANK(duplicateLeads)),duplicateLeads.size > 0)}" style="">
        
        <apex:column headerValue="Select to Merge">
            <apex:outputpanel >
                  <apex:commandLink action="{!displayMergeLead}" value="{!lead.Name}">
                    <apex:param value="{!lead.id}" name="recID" id="recID"></apex:param>
                    <apex:param value="{!index}" name="index" id="index"></apex:param>
                  </apex:commandLink>
                  <apex:variable value="{!index + 1}" var="index"/>               
            </apex:outputpanel>
        </apex:column>
        <apex:column value="{!lead.FirstName}"/>
        <apex:column value="{!lead.LastName}"/>
        <apex:column value="{!lead.Company}"/>
        <apex:column value="{!lead.Phone}"/>
        <apex:column value="{!lead.Email}"/>
        
        
        
        <apex:column headerValue="Duplicate Ignored?">
            <apex:inputCheckbox value="{!lead.formforce__Duplicate_Ignored__c}"/>
        </apex:column>
    </apex:pageBlockTable>
    <apex:outputPanel rendered="{!AND(OR(ISBLANK(duplicateLeads),duplicateLeads.size = 0), OR(ISBLANK(duplicateAccounts),duplicateAccounts.size = 0), OR(ISBLANK(duplicateContacts),duplicateContacts.size = 0))}">
        No Duplicates Found
    </apex:outputPanel>
    
    <apex:pageBlockTable value="{!duplicateAccounts}" var="rec" rendered="{!AND(NOT(ISBLANK(duplicateAccounts)),duplicateAccounts.size > 0)}">
        
        <apex:column headerValue="Select to Merge">
            <apex:outputpanel >
                  <apex:commandLink action="{!displayMergeAccount}" value="{!rec.Name}">
                    <apex:param value="{!rec.id}" name="recID" id="recID"></apex:param>
                    <apex:param value="{!index}" name="index" id="index"></apex:param>
                  </apex:commandLink>
                  <apex:variable value="{!index + 1}" var="index"/>               
            </apex:outputpanel>
        </apex:column>    
      <apex:column value="{!rec.Phone}"/>
      <apex:column value="{!rec.Website}"/>
      <apex:column headerValue="Billing Address">
        <apex:outputField value="{!rec.BillingStreet}"/> &nbsp;
        <apex:outputField value="{!rec.BillingState}"/>&nbsp;
        <apex:outputField value="{!rec.BillingPostalCode}"/>&nbsp;
        <apex:outputField value="{!rec.BillingCountry}"/>&nbsp;
        <apex:outputField value="{!rec.BillingCity}"/>&nbsp;
      </apex:column>
      <apex:column headerValue="Shipping Address">
        <apex:outputField value="{!rec.ShippingStreet}"/>&nbsp;
        <apex:outputField value="{!rec.ShippingState}"/>&nbsp;
        <apex:outputField value="{!rec.ShippingPostalCode}"/>&nbsp;
        <apex:outputField value="{!rec.ShippingCountry}"/>&nbsp;
        <apex:outputField value="{!rec.ShippingCity}"/>&nbsp;
    
      </apex:column>     
      <apex:column headerValue="Duplicate Ignored?">
            <apex:inputCheckbox value="{!rec.formforce__Duplicate_Ignored__c}"/>
        </apex:column> 
    </apex:pageBlockTable>
    
    <apex:pageBlockTable value="{!duplicateContacts}" var="rec" rendered="{!AND(NOT(ISBLANK(duplicateContacts)),duplicateContacts.size > 0)}">
        
        <apex:column headerValue="Select to Merge">
            <apex:outputpanel >
                  <apex:commandLink action="{!displayMergeContact}" value="{!rec.Name}">
                    <apex:param value="{!rec.id}" name="recID" id="recID"></apex:param>
                    <apex:param value="{!index}" name="index" id="index"></apex:param>
                  </apex:commandLink>
                  <apex:variable value="{!index + 1}" var="index"/>               
            </apex:outputpanel>
        </apex:column>    
      <apex:column value="{!rec.Title}"/>
      <apex:column value="{!rec.AccountId}"/>
      <apex:column value="{!rec.Phone}"/>
      <apex:column value="{!rec.Email}"/>
      <apex:column value="{!rec.OwnerID}"/>
		

      <apex:column headerValue="Duplicate Ignored?">
            <apex:inputCheckbox value="{!rec.formforce__Duplicate_Ignored__c}"/>
      </apex:column>
    </apex:pageBlockTable>      
</apex:pageBlock>
</apex:form>    
</apex:page>